/* Initaial Styles */

body{
    font-family: 'Raleway', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    --main-color: #fe4a46;
    --section-padding: 70px;
}

ul{
    list-style: none;
}

.container{
    margin: 0 auto;
    padding: 0 15px;
}

/* End Initaial Styles */

/* Navbar */

nav.navbar{
    position: sticky;
    top: 0;
    background-color: #fafafa;
    border-bottom: 1px solid #99999980;
    z-index: 10000000;
}

nav.navbar .container img{
    margin: 10px 0;
}

nav.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.navbar .container ul.links{
    display: flex;
    gap: 10px;
}

nav.navbar .container ul.links li a{
    padding: 10px;
    background-color: #eee;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    margin: 10px 0;
    display: block;
    font-size: 15px;
    border-radius: 2px;
    transition: .2s;
}

nav.navbar .container ul.links li a:hover{
    background-color: var(--main-color);
    color: #fff;
}

nav.navbar .container .sm-menu{
    position: relative;
    display: none;
}

nav.navbar .container .sm-menu i{
    font-size: 22px;
    cursor: pointer;
    background-color: var(--main-color);
    color: #fff;
    padding: 5px 10px;
}

nav.navbar .container .sm-menu .sm-dropdown{
    position: absolute;
    right: 0;
    top: 100%;
    background-color: var(--main-color);
    width: 200px;
    border-radius: 2px;
    border-top-right-radius: 0;
    z-index: 10000001;
    transform: scaleX(0);
    transform-origin: right;
    transition: .3s;
}

nav.navbar .container .sm-menu .sm-dropdown li a{
    display: block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding: 10px;
    transition: .2s;
    border-bottom: 1px solid #eeeeee50;
}

nav.navbar .container .sm-menu .sm-dropdown li a:hover{
    padding-left: 15px;
}

nav.navbar .container .sm-menu:hover > .sm-dropdown{
    transform: scaleX(1);
}

/* End Navbar */

section.header{
    
    background: url("../images/Slider.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid var(--main-color);
}

section.header .overlay{
    padding: 130px 0;
    background-color: #333333ab;
}

section.header .overlay .container .text{
    color: #fff;
    padding-left: 20px;
    border-left: 3px solid var(--main-color);
}

section.header .overlay .container .text h4{
    font-size: 15px;
    font-weight: 500;
    border-bottom: 2px solid var(--main-color);
    width: fit-content;
    padding-bottom: 5px;
}

section.header .overlay .container .text h1{
    font-size: 40px;
    margin: 10px 0 20px;
    font-weight: 600;
}

section.header .overlay .container .text a{
    display: block;
    width: fit-content;
    color: inherit;
    font-weight: 600;
    text-decoration: none;
    padding: 8px 16px;
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
    border-radius: 2px;
    transition: .2s;
}

section.header .overlay .container .text a:hover{
    background-color: transparent;
}

/* Media Queries */

@media (max-width: 767px){
    .container{
        width: 100%;
    }
    nav.navbar .container .sm-menu{
        display: block;
    }
    nav.navbar .container ul.links{
        display: none;
    }
}

@media (min-width: 768px){
    .container{
        width: 720px;
    }
}

@media (min-width: 992px){
    .container{
        width: 960px;
    }
}

@media (min-width: 1200px){
    .container{
        width: 1140px;
    }
}

@media (min-width: 1400px){
    .container{
        width: 1320px;
    }
}

/* End Media Queries */